{% extends "layout.html" %}
{% block content %}
<h1><b>Dane osobowe lekarza</b></h1><hr>
<div style="font-size: 24px; width:600px">
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Imię:</b> {{doktor.imie1}}
    </div>
     <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Drugie imię:</b> {{doktor.imie2}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Nazwisko:</b> {{doktor.nazwisko}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Numer PESEL:</b> {{doktor.pesel}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if doktor.data_ur=="0000-00-00" %}
        <b>Data urodzenia:</b> 
        {% else %}
        <b>Data urodzenia:</b> {{doktor.data_ur}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Płeć:</b> {{doktor.plec}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Adres e-mail:</b> {{doktor.email}}
    </div>   
</div>
{% endblock content %}
