{% extends "layout.html" %}
{% block content %}
<h1><b>Dane osobowe pacjenta</b></h1><hr>
<div style="font-size: 24px; width:600px">
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Imię:</b> {{pacjent.imie1}}
    </div>
     <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Drugie imię:</b> {{pacjent.imie2}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Nazwisko:</b> {{pacjent.nazwisko}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Numer PESEL:</b> {{pacjent.pesel}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if pacjent.data_ur=="0000-00-00" %}
        <b>Data urodzenia:</b> 
        {% else %}
        <b>Data urodzenia:</b> {{pacjent.data_ur}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Płeć:</b> {{pacjent.plec}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Adres e-mail:</b> {{pacjent.email}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Numer karty pacjenta:</b> {{pacjent.pacjent.nr_karty}}
    </div>   
</div>
<style>
    .option
    {
        margin:10px;
        border-style: solid;
        border-width: : 10px;
        border-color: lightblue;
        border-radius:10px;
        background-color: white;
        cursor: pointer;
        vertical-align:middle;
        text-align: center;
        width:40%;
        height: 90px;
        top:50%;
        float: left;
    }
    .option:hover
    {
        border-color: black;
    }
    .inside-text
    {
        margin-top:30px;
    }
</style>
<hr>
<div class="option" onclick="location.href='{{ url_for('managePatientPersonalData', osoba_id=pacjent.osoba_id) }}'">
    <div class="inside-text">
        Zarządzanie danymi osobowymi
    </div>
</div>
<div class="option" onclick="location.href='{{ url_for('manageHealthCondition', osoba_id=pacjent.osoba_id) }}'">
    <div class="inside-text">
        Stan zdrowia i jamy ustnej
    </div>
</div>
<br style="clear:both;">
<hr>
<div class="option" onclick="location.href='{{ url_for('manageTeethCondition', osoba_id=pacjent.osoba_id) }}'">
    <div class="inside-text">
        Stan uzębienia
    </div>
</div>
<div class="option" onclick="location.href='{{ url_for('managePrescriptions', osoba_id=pacjent.osoba_id) }}'">
    <div class="inside-text">
        Wystawione recepty
    </div>
</div>
<div class="option" onclick="location.href='{{ url_for('manageTreatmentHistory', osoba_id=pacjent.osoba_id) }}'">
    <div class="inside-text">
        Historia zabiegów
    </div>
</div>
<br style="clear:both;">
{% endblock content %}
