{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Dodaj informacje o lekarzu</legend>
                <div class="form-group">
                    {{ form.licence_number.label(class="form-control-label") }}
                    {% if form.licence_number.errors %}
                        {{ form.licence_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.licence_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.licence_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.date_upr.label(class="form-control-label") }}
                    {% if form.date_upr.errors %}
                        {{ form.date_upr(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_upr.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date_upr(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.specjalizacje.label(class="form-control-label") }}
                    {% if form.specjalizacje.errors %}
                        {{ form.specjalizacje(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.specjalizacje.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.specjalizacje(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('manageDoctor', osoba_id=current_user.osoba_id)}}">Anuluj</a>
            </div>
        </form>
    </div>
{% endblock content %}