{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edycja informacji o stanie zdrowia i jamy ustnej</legend>
                <div class="form-group">
                    {{ form.card_number.label(class="form-control-label") }}
                    {% if form.card_number.errors %}
                        {{ form.card_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.card_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.card_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.higiena.label(class="form-control-label") }}
                    {% if form.higiena.errors %}
                        {{ form.higiena(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.higiena.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.higiena(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.zgryz.label(class="form-control-label") }}
                    {% if form.zgryz.errors %}
                        {{ form.zgryz(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.zgryz.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.zgryz(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.blona_sluzowa.label(class="form-control-label") }}
                    {% if form.blona_sluzowa.errors %}
                        {{ form.blona_sluzowa(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.blona_sluzowa.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.blona_sluzowa(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.uzup_protet.label(class="form-control-label") }}
                    {% if form.uzup_protet.errors %}
                        {{ form.uzup_protet(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.uzup_protet.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.uzup_protet(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.przyzebie.label(class="form-control-label") }}
                    {% if form.przyzebie.errors %}
                        {{ form.przyzebie(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.przyzebie.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.przyzebie(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.choroby.label(class="form-control-label") }}
                    {% if form.choroby.errors %}
                        {{ form.choroby(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.choroby.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.choroby(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.leki.label(class="form-control-label") }}
                    {% if form.leki.errors %}
                        {{ form.leki(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.leki.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.leki(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.uczulenia.label(class="form-control-label") }}
                    {% if form.uczulenia.errors %}
                        {{ form.uczulenia(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.uczulenia.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.uczulenia(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.czy_dziecko.label(class="form-control-label") }}
                    {% if form.czy_dziecko.errors %}
                        {{ form.czy_dziecko(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.czy_dziecko.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.czy_dziecko(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('manageHealthCondition', osoba_id=osoba.osoba_id)}}">Anuluj</a>
            </div>
        </form>
    </div>
{% endblock content %}