{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edycja telefonu kontaktowego</legend>
                <div class="form-group">
                    {{ form.telefon_kom1.label(class="form-control-label") }}
                    {% if form.telefon_kom1.errors %}
                        {{ form.telefon_kom1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_kom1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_kom1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.telefon_kom2.label(class="form-control-label") }}
                    {% if form.telefon_kom2.errors %}
                        {{ form.telefon_kom2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_kom2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_kom2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.telefon_kom3.label(class="form-control-label") }}
                    {% if form.telefon_kom3.errors %}
                        {{ form.telefon_kom3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_kom3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_kom3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.telefon_stacj.label(class="form-control-label") }}
                    {% if form.telefon_stacj.errors %}
                        {{ form.telefon_stacj(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_stacj.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_stacj(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.telefon_stacj2.label(class="form-control-label") }}
                    {% if form.telefon_stacj2.errors %}
                        {{ form.telefon_stacj2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_stacj2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_stacj2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.telefon_zagr.label(class="form-control-label") }}
                    {% if form.telefon_zagr.errors %}
                        {{ form.telefon_zagr(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_zagr.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_zagr(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.telefon_zagr2.label(class="form-control-label") }}
                    {% if form.telefon_zagr2.errors %}
                        {{ form.telefon_zagr2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.telefon_zagr2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.telefon_zagr2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('managePatientPersonalData', osoba_id=pacjent.osoba_id)}}">Anuluj</a>
            </div>
        </form>
    </div>
{% endblock content %}