<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Gabinet stomatologiczny Czarodent - {{ title }}</title>
    {% else %}
        <title>Gabinet stomatologiczny Czarodent</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">
            <font color="#ffffff">
              <font face="Roboto">
                <font size="5px">Gabinet stomatologiczny Czarodent
                </font>
              </font>
            </font>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}"><img class="m-1" src="{{ url_for('static',filename='zab.jpg') }}"style="height:35px;weight:35px" alt="Home">
              </a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.osoba_id %}
                {% if current_user.logowanie.rodzaj_konta %}
                  <a class="nav-item nav-link" href="{{ url_for('accountPatient') }}">Moje konto</a>
                  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Wyloguj się</a>
                {% endif %}
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Zarejestruj się</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Zaloguj się</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        {% if current_user.osoba_id %}
          <div class="col-md-4">
          <div class="content-section">
            <h3>Menu główne</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light" href="{{ url_for('accountPatient') }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('accountPatient') }}">Moje konto</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('modifyPersonalData', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('modifyPersonalData', osoba_id=current_user.osoba_id) }}">Edycja danych osobowych</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('modifyLoginData', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('modifyLoginData', osoba_id=current_user.osoba_id) }}">Edycja hasła dostępu</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('manageHomeAddress', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('manageHomeAddress', osoba_id=current_user.osoba_id) }}">Zarządzanie adresem zamieszkania</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('manageHomeTelephone', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('manageHomeTelephone', osoba_id=current_user.osoba_id) }}">Zarządzanie telefonem kontaktowym</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('showDoctor', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('showDoctor', osoba_id=current_user.osoba_id) }}">Informacje o lekarzu</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('showOffice', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('showOffice', osoba_id=current_user.osoba_id) }}">Informacje o gabinecie</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('showHealthCondition', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('showHealthCondition', osoba_id=current_user.osoba_id) }}">Stan zdrowia i jamy ustnej</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('showTeethCondition', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('showTeethCondition', osoba_id=current_user.osoba_id) }}">Stan uzębienia</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('showTreatmentHistory', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('showTreatmentHistory', osoba_id=current_user.osoba_id) }}">Historia zabiegów</a>
                <li class="list-group-item list-group-item-light" href="{{ url_for('showPrescriptions', osoba_id=current_user.osoba_id) }}"></a>
                <a class="nav-item nav-link" href="{{ url_for('showPrescriptions', osoba_id=current_user.osoba_id) }}">Wystawione recepty</a>
        {% endif %}
              </ul>
            </p>
          </div>
        </div>  
      </div>  
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
