{% extends "layout.html" %}
{% block content %}
<h1><b>Informacje o gabinecie <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('accountPatient')}}">Powrót do strony głównej</a></b></h1><hr>
<div style="font-size: 24px; width:600px">
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <b>Nazwa gabinetu:</b> {{gabinet.nazwa}}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
    	{% if not gabinet.regon %}
    	<b>Numer REGON:</b>
    	{% else %}
        <b>Numer REGON:</b> {{gabinet.regon}}
        {% endif %}
    </div>
     <div style="background-color: white;padding-bottom:10px;padding-top:10px">
     	{% if not gabinet.nip %}
     	<b>Numer NIP:</b>
    	{% else %}
        <b>Numer NIP:</b> {{gabinet.nip}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        <hr>
        {% if gabinet.adresadres_id %}
            {% if adresdogabinetu.nr_lokalu %}
            <b>Adres gabinetu:</b> ul. {{adresdogabinetu.ulica}} {{adresdogabinetu.nr_domu}}/{{adresdogabinetu.nr_lokalu}}, {{adresdogabinetu.kod_poczt}} {{adresdogabinetu.miejscowosc}}
            {% else %}
            <b>Adres gabinetu:</b> ul. {{adresdogabinetu.ulica}} {{adresdogabinetu.nr_domu}}, {{adresdogabinetu.kod_poczt}} {{adresdogabinetu.miejscowosc}}
            {% endif %}
        {% else %}
        <b>Adres gabinetu:</b> brak adresu
        {% endif %}
    </div>
    <hr>
    {% if gabinet.telefontelefon_id %}
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_kom1 %}
        {% else %}
        <b>Telefon komórkowy do gabinetu:</b> {{telefondogabinetu.telefon_kom1}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_stacj %}
        {% else %}
        <b>Telefon stacjonarny do gabinetu:</b> {{telefondogabinetu.telefon_stacj}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_kom2 %}
        {% else %}
        <b>Telefon komórkowy 2:</b> {{telefondogabinetu.telefon_kom2}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_kom3 %}
        {% else %}
        <b>Telefon komórkowy 3:</b> {{telefondogabinetu.telefon_kom3}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_stacj2 %}
        {% else %}
        <b>Telefon stacjonarny 2:</b> {{telefondogabinetu.telefon_stacj2}}
        {% endif %}
    </div>
        <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_zagr %} 
        {% else %}
        <b>Telefon zagraniczny:</b> {{telefondogabinetu.telefon_zagr}}
        {% endif %}
    </div>
    <div style="background-color: white;padding-bottom:10px;padding-top:10px">
        {% if not telefondogabinetu.telefon_zagr2 %}
        {% else %}
        <b>Telefon zagraniczny 2:</b> {{telefondogabinetu.telefon_zagr2}}
        {% endif %}
    </div>
    {% else %}
    <b>Telefon do gabinetu: </b> brak telefonu
    {% endif %}
</div>
{% endblock content %}
