{% extends "layout.html" %}
{% block content %}
<h1><b>Stan zdrowia i jamy ustnej <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('accountPatient')}}">Powrót do strony głównej</a></b></h1><hr>
<div style="background-color:white;">
    <div style="margin:10px">
        {% if not stanzdrowia.nr_karty %}
        <b>Numer karty pacjenta:</b>
        {% else %}
        <b>Numer karty pacjenta:</b>
        {{stanzdrowia.nr_karty}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.higiena %}
        <br><b>Higiena:</b>
        {% else %}
        <br><b>Higiena:</b>
        {{stanzdrowia.higiena}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.zgryz %}
        <br><b>Zgryz:</b>
        {% else %}
        <br><b>Zgryz:</b>
        {{stanzdrowia.zgryz}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.blona_sluzowa %}
        <br><b>Błona śluzowa:</b>
        {% else %}
        <br><b>Błona śluzowa:</b>
        {{stanzdrowia.blona_sluzowa}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.uzup_protet %}
        <br><b>Uzupełnienia protetyczne:</b>
        {% else %}
        <br><b>Uzupełnienia protetyczne:</b>
        <br>
        {{stanzdrowia.uzup_protet}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.przyzebie %}
        <br><b>Przyzębie:</b>
        {% else %}
        <br><b>Przyzębie:</b>
        <br>
        {{stanzdrowia.przyzebie}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.choroby %}
        <br><b>Choroby ogólnoustrojowe:</b>
        {% else %}
        <br><b>Choroby ogólnoustrojowe:</b>
        <br>
        {{stanzdrowia.choroby}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.leki %}
        <br><b>Zażywane leki:</b>
        {% else %}
        <br><b>Zażywane leki:</b>
        <br>
        {{stanzdrowia.leki}}
        {% endif %}
    </div>
    <div style="margin:10px">
        {% if not stanzdrowia.uczulenia %}
        <br><b>Uczulenia:</b>
        <hr>
        {% else %}
        <br><b>Uczulenia:</b>
        <br>
        {{stanzdrowia.uczulenia}}
        <hr>
        {% endif %}
    </div>
</div>

{% endblock content %}